**/*.*
!Toders.FindMyContent/Properties/AssemblyInfo.FindMyContent.cs
!Toders.FindMyContent/Toders.FindMyContent.csproj
!Toders.FindMyContent/Controllers/FindMyContentController.cs
!Toders.FindMyContent/Core/**/*.*
!Toders.FindMyContent/Views/FindMyContent/**/*.*
!Toders.FindMyContent/Models/FindMyContent/**/*.*
!Toders.FindMyContent/packages.Toders.FindMyContent.config
!Toders.FindMyContent/Toders.FindMyContent.nuspec